@import "@/styles/variables.scss";

* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  #app {
    width: 100%;
  }
}
